<div class="job" style="background-image:url(<%= asset_path "company-back.png" %>)">
<% 5.times do |x| %>
<p>お仕事情報だよ</p>
<% end %>
</div>

<% 5.times do |x| %>
<% if x == 0 then %>

<h2>Hot news</h2>
<hr class="style-two">
<div class="aaa">
<p>ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。</p>

<%= link_to "続きはこちらから", "#" %></p>
	<div class="bd1 bd">
		<div class="bdT"></div>
		<div class="bdB"></div>
		<div class="bdR"></div>
		<div class="bdL"></div>
	</div>
</div>

<% else %>

<h2>見出し</h2>
<hr class="style-two">
<div class="aaa">
<p>ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。</p>

<%= link_to "続きはこちらから", "#" %></p>
	<div class="bd1 bd">
		<div class="bdT"></div>
		<div class="bdB"></div>
		<div class="bdR"></div>
		<div class="bdL"></div>
	</div>
</div>

<% end %>
<% end %>

