<div class="profile">
<%= image_tag("icon.jpg", size: "200x200", alt: "icon") %>
	<dl class="cop">
	<dt>*名前*</dt>
	<dd>遠坂あさぎ</dd>
	<dt>*趣味*</dt>
	<dd>お絵かき、音楽鑑賞、読書</dd>
	<dt>*好きなもの*</dt>
	<dd>東方、西方、咲マリ、銀髪、<br />
	紅茶、コーヒー、抹茶、etc</dd>
	<dt>*最近ハマっていること*</dt>
	<dd>ダンガンロンパ</dd>
	<dt>*一言*</dt>
	<dd>結構マイペースに絵を描いています。<br />
	どうぞよろしくお願いします！</dd>
	</dl>
<%= image_tag("banner.jpg", size: "200x30", alt: "banner") %>
	<p>【バナーはこちらを使用してください】</p>
</div>